@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Join the best crowfunding platform!</h1>
    <h4>Find great projects to back.Build your own project.<br />Take your business to the next level.</h4>
</div>
