@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CrowFunding.Domain.ProjectPage

<form asp-action="Create">
    <div>
        Title
    </div>
    <div>
        <input type="text" name="Title" placeholder="Title" />
    </div>
    <div>
        Description
    </div>
    <div>
        <input type="text" name="Description" placeholder="Description" />
    </div>
    <div>
        Image
    </div>
    <div>
        <input type="image" name="image" placeholder="Price" />
    </div>
    <div>
        Video
    </div>
    <div>
        <label for="input">Choose a video file to process:</label>
        <input type="file" id="input" name="input_video" accept="video/mp4, video/mov">
        <video id="video" width="320" height="240" controls style="display: none;">
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>
    </div>
    


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>